<h2>カテゴリ新規作成</h2>

<form [formGroup]="categoryForm">
  <dl>
    <dt>
      カテゴリ名
    </dt>
    <dd>
      <input formControlName="name">
      <div *ngIf="nameForm.invalid && (nameForm.dirty || nameForm.touched)">
        <div *ngIf="nameForm.errors?.['required']">
          カテゴリ名を入力してください。
        </div>
      </div>
    </dd>
  </dl>
  <dl>
    <dt>
      略称
    </dt>
    <dd>
      <input formControlName="slug">
    </dd>
  </dl>
  <dl>
    <dt>
      カテゴリカラー
    </dt>
    <dd>
      <select formControlName="color">
        <option *ngFor="let color of categoryColorList" [value]="color.id">
          {{color.name}}
        </option>
      </select>
    </dd>
  </dl>
</form>

<button type="button" (click)="goBack()">go back</button>
<button type="button" (click)="save()">save</button>