@*
* category一覧のページ
*@

@import lib.model.Category
@import helper._
@(categorys: Seq[Category], vv: model.ViewValueCommon)(implicit messageProvider: MessagesProvider, requestHeader: RequestHeader)

@common.Default(vv){
<a href="@routes.TodoController.todoList" class="link_button">戻る</a>
<a href="@routes.CategoryController.register" class="link_button">新規作成</a>
<ul id="todo_list">
    @for(category <- categorys if category.id.get != 6){
        <li><div class="todoPanel" style="background-color: @(category.color.name)">
            <a href="@routes.CategoryController.edit(category.id.get)">
                <div>
                    <h3>@category.name</h3>
                    <p>@category.slug</p>
                    <p>@category.color</p>
                    @helper.form(action = routes.CategoryController.delete()){
                    @helper.CSRF.formField
                    <input type="hidden" value="@category.id" name="id">
                    <input type="submit" value="削除">
                </div>
            </a>
        </div></li>
        }
    }
</ul>
}