@*
* category一覧のページ
*@

@import lib.model.Category
@import helper._
@(categorys: Seq[Category], vv: model.ViewValueCommon)(implicit messageProvider: MessagesProvider, requestHeader: RequestHeader)

@common.Default(vv){
<a href="http://localhost:9000/todo/category/new">新規作成</a>
<ul id="todo_list">
    @for(category <- categorys){
        <li><div class="todoPanel" style="background-color: #eee;">
            <a href="http://localhost:9000/todo/@category.id">
                <div>
                    <h3>@category.name</h3>
                    <p>@category.slug</p>
                    <p>@category.color</p>
                    @helper.form(action = routes.TodoController.delete()){
                    @helper.CSRF.formField
                    <input type="hidden" value="@category.id" name="id">
                    <input type="submit" value="削除">
                </div>
            </a>
        </div></li>
        }
    }
</ul>
}