@*
* categoryの詳細を表示, 編集するページ
*@

@import helper._
@import controllers.CategoryFormData
@import lib.model.Category
@(categorys: Seq[Category], form: Form[CategoryFormData], vv: model.ViewValueCommon)(implicit messageProvider: MessagesProvider, requestHeader: RequestHeader)

@common.Default(vv){
    <h2>編集画面</h2>
    <a href="@routes.CategoryController.list" class="link_button">戻る</a>

    @helper.form(action = routes.CategoryController.store()) {
        @CSRF.formField
        @inputText(form("name"), '_label -> "カテゴリ名")
        @inputText(form("slug"), '_label -> "slug")
        @select(
            field = form("color.color"), 
            options = Category.ColorStatus.values.map(color => color.code.toString -> color.toString),
            '_label -> "色設定"
        )
        <input type="submit" value="登録">
    }
}