@*
* Todoの詳細を表示, 編集するページ
*@

@import helper._
@import controllers.TodoFormData
@import lib.model.Todo
@import lib.model.Category
@(id: Long, form: Form[TodoFormData], categorys: Seq[Category], vv: model.ViewValueCommon)(implicit messageProvider: MessagesProvider, requestHeader: RequestHeader)

@common.Default(vv){
    <h2>編集画面</h2>
    <a href="@routes.TodoController.todoList" class="link_button">戻る</a>

    @helper.form(action = routes.TodoController.update(id)) {
        @CSRF.formField
        @inputText(form("title"), '_label -> "タイトル")
        @textarea(form("content"), 'rows -> 7, 'cols -> 40, '_label -> "本文")
        @select(
            field = form("state.state"), 
            options = Todo.Status.values.map(state => state.code.toString -> state.name),
            '_label -> "進行状況"
        )
        @select(
            field = form("category.category"),
            options = categorys.map(category => category.id.get.toString -> category.name),
            '_label -> "カテゴリ設定"
        )
        <input type="submit" value="登録">
    }
}