@*
* todo一覧のページ
*@

@import helper._
@(todos: Seq[slick.model.Todo], vv: model.ViewValueCommon)(implicit messageProvider: MessagesProvider, requestHeader: RequestHeader)

@common.Default(vv){
<a href="http://localhost:9000/todo/new">新規作成</a>
<ul>
    @for(todo <- todos){
        @*
        *どう表示するかは後で考える
        *@
        <li><div>
            <a href="http://localhost:9000/todo/@todo.id">
                @todo.title
            </a>
            @helper.form(action = routes.TodoController.delete()){
                @helper.CSRF.formField
            <input type="hidden" value="@todo.id" name="id">
            <input type="submit" value="削除">
        </div></li>
        }
    }
</ul>
}